body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* Le quitamos los espacios internos y externos que tienen por defecto
        todos los elementos dentro del body */
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(47, 0, 255, 0.912);
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    /*
    1er valor: eje X, desde dónde parte horizontalmente
    2do valor: eje Y, desde dónde parte verticalmente
    3er valor: efecto desenfoque (expresado en pixeles)
    4to valor: color
    */
    box-shadow: 10px 10px 10px gray;
}

ul {
    /* Le quitamos los espacios internos y externos que tienen por defecto
        todos los elementos dentro de la lista desordenada */
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    border-right: 1px solid;
}

li:hover {
    /* transition permite aplicar cambios de estilos suavemente.. */
    transition-duration: .5s;
    transform: scale(1.2);
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

#menu-button {
    display: none;
}

#menu-button + label {
    display: none;
}

@media screen and (max-width: 480px) {
    nav {
        width: 70%;
        height: 92vh;
    }

    li {
        display: block;
        border: none;
        padding: 8px 0;
    }

    li:hover {
        transition-duration: .5s;
        transform: scale(1.05);
    }

   /*  #menu-button {
        position: absolute;
        right: 10px;
    } */
    
    /* La "colita de chancho" permite modificar los estilos del elemento que
    está en la derecha, siempre que se active la acción del que está en la izquierda */
    #menu-button:checked ~ nav {
        /* Ocultar el nav cuando esté chequeado */
        /* Lo muevo en su eje X -100%, o sea hacia la izquierda todo lo que puede */
        translate: -100% 0;
        transition-duration: .5s;
    }

    /* Si necesitamos modificar uno de los tipos de input, tenemos que hacerlo
    con estos [] e indicando la propiedad */
    input[type="checkbox"] {
        display: none;
    }

    /* Usaremos el operador + cuando necesitemos modificar un elemento
    que está enlazado con otro (en este caso el label enlazado al checkbox) */
    input[type="checkbox"] + label {
        /* Cuando hay conflicto de estilos (más de un css apunta al mismo elemento
        con distintos atributos), puedes asignar la prioridad máxima con !important */
        display: block !important;
        position: absolute;
        right: 10px;
    }

}