body {
    color: rgb(192, 39, 206);
}

/* 
PARA BUSCAR UNA ETIQUETA EN ESPECIFICO EN EL CODIGO HTML SE USA 
LA PROPIEDAD #NOMBRE_ETIQUETA 
ESTO BUSCA EN EL CODIGO HTML LA LINEA CUYA ID SEA IGUAL A LO QUE ESTA AL LADO DEL # 
*/

#Titulo {
    color: green
}

/*
PARA BUSCAR UNA CLASE SE UTILIZA EL INDICADOR DE (.) ACOMPAÑADO DEL NOMBRE DE
LA CLASE QUE SE ESTA BUSCANDO
*/
.texto {
    color: rgb(238, 168, 118)
}

/* 
ESTE LO QUE HACE ES SEÑALAR QUE EN EL DIV BUSQUE LAS LINEAS CON ETIQUETA P
Y APLIQUE LO QUE ESTE EN LAS LLAVES A ESA ETIQUETA EN PARTICULAR 
*/
div p {
    color:blue
}

/* 
SI SE QUIERE ELEGIR MAS DE UNA ETIQUETA O SELECTOR PARA APLICAR EL MISMO CODIGO
SE PUEDE DE ESTA MANERA
*/

/*ESPECIFICANDO DONDE SE ENCUENTRA*/
div h2, div h3 {
    color: coral
}

/* 
EL INDICADOR (*) SEÑALA A TODOS LOS ELEMENTOS DEL CODIGO,
AL INDICAR ESTO PODEMOS MODIFICAR LOS ATRIBUTOS DE TODO EL CODIGO,
SIEMPRE Y CUANDO EL CAMBIO NO AFECTE A OTRAS PROPIEDADES QUE YA SE HAYAN DEFINIDO
COMO EL COLOR QUE EN ESTE CASO NINGUNO DEBERIA SER MODIFICADO
*/
* {
    font-size: 16px;
    color: black;
}

/*
PARA INDICAR COLORES HEXADECIMALES SE HACE INDICANDO CON UN # Y ACOMPAÑADO DE LOS DIGITOS
DEL CODIGO HEXADECIMAL DIVIDO EN PARES ES DECIR QUE SON 2 NUMEROS POR COLOR ASI
#RRGGBB 
Y PARA EL FORMATO RGB FUNCIONA IGUAL PERO SON SOLO 3 NUMEROS
DESDE EL 0 AL 255 EJ: rgb(152, 255, 198)
*/
.HEX {
    color: #ff0000;
}

/*
y para asignar bordes usamos la propiedad border acompañado del tipo de borde 
*/
div h2 {
    border: 4px blue solid;
}

/*
PERO TAMBIEN SE PUEDE HACER MANUAL EL AJUSTE DE CADA PARTE DEL BORDE
*/

div p, div h3 {
    border-style: dotted; 
    /* ESTO INDICA EL ESTILO DEL BORDE EJ: SOLIDO, PUNTEADO, ETC*/
    /* ALGUNAS OTRAS SON 
        DOTTED
        DASHED
        SOLID
        DOUBLE
        GROOVE
        RIDGE
        INSET
        OUTSET
        NONE
        HIDDEN
        */
    border-color: #ab00fd; /* ESTO INDICA EL COLOR DEL BORDE*/
    border-radius: 7px; /*ESTO INDICA LO REDONDEADO DEL BORDE*/
    border-width: 2px; /* ESTO INDICA EL ANCHO DEL BORDE*/
}